# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.tmp
*.orig

# Static files
/static/
staticfiles/
media/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db